{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/customer.css' %} ">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>DLV</title>
</head>
<body>
    {% include 'operation/nav.html' %}

    <section class="home-section">
        <div class="text">Customer</div>
        <div class="cust_gen_info">
            <div class="cust_status">
                <span>#</span>
                <span> Register</span>
            </div>
            <div class="cust_status">
                <span>#</span>
                <span> Ordered</span>
            </div>
            <div class="cust_status">
                <span>#</span>
                <span> Inactive</span>
            </div>
            <button type="">
                <i class='bx bx-user-plus'></i>
            </button>
        </div>
        <div class="cust_list">
            <div class="cust_grid">
                <div class="customer_card">
                    <div class="customer_info">
                        <div class="customer_name"><span>Customer Name</span></div>
                        <span>Tel</span>
                    </div>
                    <div class="customer_state">
                        <div class="customer_ord_status">
                            <div><span>#</span></div>
                            <span>Orders</span>
                        </div>
                        <div class="customer_ord_status">
                            <div><span>####</span></div>
                            <span>In Debt</span>
                        </div>
                        <div class="customer_ord_status">
                            <div><span>#</span></div>
                            <span>Total</span>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </section>
</body>
</html>

