{% extends 'operation/operationmain.html' %}

{% block content %}

<div class="customer_content">
    <div class="customer_ops">
        <select name="" id="">
            <option value="">Search Customer</option>
        </select>
        <button type="button">Register Customer</button>
    </div>
    <div class="customer_info">
        <div class="customer_img"></div>
        <div class="customer_bio"></div>
        <div class="customer_order"></div>
    </div>
    <div class="customer_listorder">
        <div>Orders</div>
        <table>
            <tr>
                <th>ID Order</th>
                <th>Bread</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>

{% endblock %}

