{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/customer.css' %} ">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>DLV</title>
</head>
<body>
    {% include 'operation/nav.html' %}

    <section class="home-section">
        <div class="text">Customer</div>
        <div class="cust_gen_info">
            <div class="cust_status">
                <span>#</span>
                <span> Register</span>
            </div>
            <div class="cust_status">
                <span>#</span>
                <span> Ordered</span>
            </div>
            <div class="cust_status">
                <span>#</span>
                <span> Inactive</span>
            </div>
            <button type="">
                <i class='bx bx-user-plus'></i>
            </button>
        </div>
        <div class="cust_list">
            <div class="cust_grid">
                <div class="customer_card">
                    <div class="customer_info">
                        <div><span>Customer Name</span></div>
                        <span>Tel</span>
                    </div>
                    <div class="customer_state">
                        <div class="customer_ord_status">
                            <div><span>#</span></div>
                            <span>Orders</span>
                        </div>
                        <div class="customer_ord_status">
                            <div><span>####</span></div>
                            <span>In Debt</span>
                        </div>
                        <div class="customer_ord_status">
                            <div><span>#</span></div>
                            <span>Total</span>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
            <label for="inpt_prof">View Profile</label>
            <input type="checkbox" class="inpt_profile" id="inpt_prof">
            <div class="customer_profile">
                <div class="customer_profile_grid">
                    <div class="customer profile_bio">
                        <div><span>Name</span></div>
                        <span>Address</span>
                        <span>Tel</span>
                        <div class="profile_bio_control">
                            <button type="button">Update</button>
                            <button type="button">Delete</button>
                        </div>
                    </div>
                    <div class="customer profile_cond">
                        <span>#</span>
                        <span> Total Orders</span>
                    </div>
                    <div class="customer profile_cond">
                        <div>
                            <span>#</span>
                            <span> Delivered</span>
                        </div>
                        <div>
                            <span>#</span>
                            <span> Pending</span>
                        </div>
                    </div>
                    <div class="customer profile_cond">
                        <span>#</span>
                        <span> Debt</span>
                    </div>
                    <div class="customer profile_performance">
                    </div>
                    <div class="customer profile_order_list">
                        <table>
                            <thead class="profile_tb_head">
                                <tr>
                                    <th>ID</th>
                                    <th>Product</th>
                                    <th>Units</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Date Delivered</th>
                                </tr>
                            </thead>
                            <tbody class="profile_tb_body">
                                <tr>
                                    <td>####</td>
                                    <td>####</td>
                                    <td>####</td>
                                    <td>####</td>
                                    <td>####</td>
                                    <td>####</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

