{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>DLV</title>
</head>
<body>
    {% include 'operation/nav.html' %}
    <section class="home-section">
        <div class="text">Dashboard</div>
        <div class="dash_container">
            <div class="dash_grid">
                <div class="dash_production">Production</div>
                <div class="dash_units">Units</div>
                <div class="dash_orders">Orders</div>
                <div class="dash_orders_pending">Pending</div>
                <div class="dash_orders_delivered">Delivered</div>
            </div>
        </div>
    </section>    
</body>
</html>