{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/operationmain.css' %}">
    <title>DLV</title>
</head>
<body>
    <header>
        <div class="company_nm">
            <h1>De La Villa</h1>
        </div>
        <div class="user_info">
            <div class="user_nm">
                <h3>Username</h3>
            </div>
            <button type="button">Login / Logout</button>
        </div>
    </header>
    <main>
        <div class="import_content">
            {% block content %}

            {%endblock%}
        </div>
    </main>    
    <footer>
        <nav class="navbar">
            <a class="navoption" id="nav1" href=""><small>Home</small></a>
            <a class="navoption" id="nav2" href=""><small>Customer</small></a>
            <a class="navoption" id="nav3" href=""><small>Order</small></a>
        </nav>
    </footer>
</body>
</html>