{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/production.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>DLV</title>
</head>
<body>
    {% include 'operation/nav.html' %}
    <section class="home-section">
        <div class="text">Production</div>
        <div class="prod_add">
            <button type="button">
                <i class='bx bx-file'></i>
                Add
            </button>
        </div>
        <div class="prod_container">
            <div class="prod_grid">
                <div class="prod_timeset">
                    <span class="prod_time_lb">Day</span>
                    <div class="prod_day_grid"></div>
                </div>
                <div class="prod_timeset">
                    <span class="prod_time_lb">Night</span>
                    <div class="prod_night_grid"></div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>