@import url('nav.css');

.home-section{
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }
  .home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
    
  }
  /* ----------------------------------- */
  .cust_gen_info{
    position: relative;
    float:  right;
    margin: 18px;
    height: 35px;
    width: 40%;
    display: flex;
  }
  .cust_status{
    font-size: large;
    margin-right: 2%;
    width: 25%;
    text-align: center;
    border: solid 1px #11101d;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(59, 59, 59, 0.5);
  }
  .cust_status span{
    position: relative;
    top: 9%;
  }
  span:first-child{
    font-size: larger;
  }
  .cust_status:nth-child(2){
    background: rgb(0, 153, 0);
    color: white;
    border: none;
  }
  .cust_status:nth-child(3){
    background: rgb(214, 4, 4);
    color: white;
    border: none;
  }
  .bx-user-plus{
    font-size: x-large;
  }
  .cust_gen_info button{
    width: 25%;
    border: solid 1px #11101d;
    border-radius: 25px;
    background: transparent;
    box-shadow: 5px 5px 5px rgba(59, 59, 59, 0.5);
  }
  .cust_gen_info button:hover{
    color: white;
    background: #11101d;
    transition: 0.3s;
  }
  .cust_list{
    height: 85%;
    width: 95%;
    position: relative;
    left: 2.5%;
    top: 50%;
    transform: translateY(-55%);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(59, 59, 59, 0.5);
  }
  .cust_grid{
    height: 100%;
    width: 100%;
    display: grid;
    padding: 1.3%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2%;
    row-gap: 3%;
    overflow-y: scroll;
  }
  .cust_grid::-webkit-scrollbar{

  }
  .customer_card{
    width: 100%;
    height: 100%;
    padding: 3%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(59, 59, 59, 0.5);
  }
  .customer_info{
    display: block;
    height: 60%;
    text-align: center;
    padding: 6%;
    margin-bottom: 2%;
    text-shadow: 2px 2px 5px rgba(59, 59, 59, 0.5);
  }
  .customer_state{
    width: 100%;
    height: 38%;
    display: flex;
  }
  .customer_ord_status{
    border: solid #11101d 1px;
    margin-left: 1.5%;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(59, 59, 59, 0.5);
  }
  .customer_ord_status:first-child{
    border: solid 1px rgb(2, 122, 2);
    color: rgb(2, 122, 2);
    /*background-color: rgba(2, 122, 2, 0.7);*/
  }
  .customer_ord_status:nth-child(2){
    color: rgb(184, 3, 3);
    border: rgb(184, 3, 3) solid 1px;
    width: 50%;
  }

  